* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
    color: var(--text-color);
    font-family: "Courier New", Courier, monospace;
}

html {
    --z-index: 1;
    --background-color: rgb(255,255,255);
    --menu-color: rgba(255,255,255, 0.85);
    --text-color: hsla(205, 100%, 15%, 0.8);
    --title-color: hsla(215, 100%, 40%, 0.7);
    --border-color: hsla(205, 100%, 30%, 1);
    --typing-border-color: rgb(0,0,0);
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-next-paragraph: 24px;
    --medium-text-size: 1rem;
    --medium-x-text-size: 1.75rem; 
    --border-size: 2px;
    --footer-height: 80px;
    --transition-delay: 0.5s;
    --theme-dark-icon: url('/assets/dark-theme.svg');
    --theme-light-icon: url('/assets/light-theme.png');
    --rain-color: hsla(205, 100%, 70%, 1);
    --rain-font-size: 20;
    --name-size: 3.5rem;
    --to-name-width: 37rem;
    --name-cursor-height: 4rem;
    --name-cursor-width: 1.5rem;
    --interact-size: 1.75rem;
    --to-interact-width: 16.75rem;
    --interact-cursor-height: 2rem;
    --interact-cursor-width: 1rem;
    background-color: var(--background-color);
}

 html.dark {
    --background-color: rgb(0,0,0);
    --menu-color: rgba(0,0,0, 0.85);
    --text-color: hsla(205, 100%, 95%, 0.9);
    --title-color: hsla(190, 100%, 80%, 0.8);
    --border-color: hsla(205, 100%, 100%, 1);
    --typing-border-color: rgb(255,255,255);
    --rain-color: hsla(205, 100%, 50%, 1);    
}

body.modal-open {
    overflow: hidden;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.top-nav {
    background-color: var(--menu-color);
    z-index: 99;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--padding-small);
}

.nav-item {
    text-align: center;
    font-size: var(--medium-x-text-size);
    text-transform: uppercase;
    margin: 0 1rem;
}

.left-underline {
    position: relative;
}

.left-underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--border-color);
    transition: all 0.3s ease-in-out;
}

.left-underline:hover:before {
    visibility: visible;
    width: 100%;
}

.current::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    visibility: visible;
    background-color: var(--border-color);
}

.current {
    position: relative;
}

.theme-mode {
    z-index: 100;
    position: absolute;
    top: var(--padding-medium);
    width: 30px;
    height: 30px;
    right: 5.2%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.theme-mode-image {
    width: 28px;
    height: 28px;
}

.top-nav-mobile {
    z-index: 999;
    background-color: var(--menu-color);
    position: fixed;
    top: -200vh;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}

#nav-mobile-menu {
    text-align: center;
    font-size: var(--medium-x-text-size);
    text-transform: uppercase;
    width: 100%;
    display: none;
    cursor: pointer;
}

.top-nav-mobile.display {
    top: 0;
}

.nav-mobile-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-mobile-list > ul {
    width: 100%;
    overflow-y: auto;
    height: fit-content;
    list-style-type: none;
}

.nav-mobile-list-item {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.nav-mobile-menu:hover {
    cursor: pointer;
}

.nav-mobile-close {
    position: absolute;
    font-size: 2.4rem;
    right: 1.5rem;
    float: right;
    top: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}

.home-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home-container-name {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--name-size);
    color: var(--title-color);
    border-right: var(--name-cursor-width) solid var(--border-color);
    animation: typeWriter 2s steps(16) 1s 1 normal both,
        blinkTextCursor 2s steps(1) 2s infinite normal;
}

.interaction-hint {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    bottom: var(--padding-medium);
    right: var(--padding-medium);
    font-size: var(--interact-size);
    border-right: var(--interact-cursor-width) solid var(--border-color);
    animation: 
        blinkOnceTextCursor 1s steps(1) 4s 1 normal both,
        interactWriter 2s steps(19) 5s 1 normal both,
        blinkTextCursor 2s steps(1) 6s infinite normal;
}

#component {
    width: 100%;
}

.fade-in, .fade-in-first-delay, .fade-in-second-delay, .fade-in-third-delay, .fade-in-forth-delay, .fade-in-fifth-delay {
    opacity: 0;
    animation: fadeIn 3s ease 0s 1 forwards;
}

.fade-in-first-delay {
    animation-delay: 0.5s;
}

.fade-in-second-delay {
    animation-delay: 1s;
}

.fade-in-third-delay {
    animation-delay: 1.5s;
}

.fade-in-forth-delay {
    animation-delay: 2s;
}

.fade-in-fifth-delay {
    animation-delay: 2.5s;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: var(--padding-medium);
}

.content > * {
    width: 50%;
}

.content h1, h2, h3 {
    text-transform: uppercase;
    margin: var(--padding-medium) 0;
}

p {
  text-indent: var(--padding-medium);
  margin-bottom: var(--padding-next-paragraph);   
}

.links {
    padding: 0 var(--padding-medium);
}

/*==animations==*/
@keyframes typeWriter {
    from {
        height: var(--name-cursor-height);
        width: 0;
    }
    to {
        height: var(--name-cursor-height);
        width: var(--to-name-width);
    }
}

@keyframes interactWriter {
    from {
        height: var(--interact-cursor-height);
        width:  0;
    }
    to {
        height:  var(--interact-cursor-height);
        width:  var(--to-interact-width);
    }
}

@keyframes blinkTextCursor {
    0% {
        border-right-color: var(--border-color);
    }
    50% {
        border-right-color: rgba(0, 0, 0, 0);
    }
}

@keyframes blinkOnceTextCursor {
    0% {
        border-right-color: rgba(0, 0, 0, 0);
    }
    100% {
        border-right-color: var(--border-color);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ===media screens=== */
@media only screen and (max-width: 960px) {
    html {
     font-size: 0.85rem;
    }

    .top-nav {
        width: 100%;
    }

    .nav-item {
        display: none;
    }

    #nav-mobile-menu {
        display: block;
    }

    .content > * {
        width: 75%;
    }
}


@media only screen and (max-width: 550px) {
    .content > * {
        width: 90%;
    }

    html {
        --name-size: 2.25rem;
        --to-name-width: 24rem;
        --name-cursor-height: 2.5rem;
        --name-cursor-width: 1rem;

        --interact-size: 1.25rem;
        --to-interact-width: 15rem;
        --interact-cursor-height: 1.5rem;
        --interact-cursor-width: 0.75rem;
    }
}