* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
    color: var(--text-color);
    font-family: "Courier New", Courier, monospace;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

html {
    --background-color: rgb(255,255,255);
    --content-background-color: rgba(255, 255, 255, 0.4);
    --menu-color: rgba(255,255,255, 0.8);
    --text-color: hsla(205, 100%, 20%, 0.9);
    --main-text-color: hsla(215, 100%, 15%, 0.9);
    --border-color: hsla(205, 100%, 30%, 1);
    --rain-color: hsla(205, 100%, 50%, 1);
    --typing-border-color: rgb(0,0,0);
    --padding-little: 4px;
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-large: 24px;
    --padding-next-paragraph: 32px;
    --padding-gallery: 64px;
    --padding-next-section: 64px;
    --medium-text-size: 1rem;
    --medium-x-text-size: 1.75rem; 
    --border-size: 2px;
    --footer-height: 80px;
    --transition-delay: 0.5s;
    --theme-dark-icon: url('/assets/dark-theme.svg');
    --theme-light-icon: url('/assets/light-theme.png');
    --rain-font-size: 20;
    --name-size: 3.5rem;
    --to-name-width: 37rem;
    --name-cursor-height: 4rem;
    --name-cursor-width: 1.5rem;
    --interact-size: 1.75rem;
    --to-interact-width: 16.75rem;
    --interact-cursor-height: 2rem;
    --interact-cursor-width: 1rem;
    --expand-size: 1.5rem;
    --gallery-width-two: 33vw;
    --gallery-height-two: 45vw;
    --gallery-width-three: 18vw;
    --gallery-height-three: 24vw;
    --gallery-width-four: 10vw;
    --gallery-height-four: 13.5vw;
    --arrow-size: 2.5rem;
    --close-icon-size: 3rem;
    --gallery-icons-size: 3rem;
    background-color: var(--background-color);
}

 html.dark {
    --background-color: rgb(0,0,0);
    --content-background-color: rgba(0, 0, 0, 0.4);
    --menu-color: rgba(0,0,0, 0.8);
    --text-color: hsla(205, 100%, 95%, 0.9);
    --main-text-color: hsla(215, 100%, 100%, 0.9);
    --border-color: hsla(205, 100%, 100%, 1);
    --typing-border-color: rgb(255,255,255);
    --rain-color: hsla(205, 100%, 60%, 1);    
}

li {
    list-style-type: square;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.hidden-scroll {
    overflow: hidden;
}

.top-nav {
    background-color: var(--menu-color);
    z-index: 1;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--padding-medium);
}

.nav-item {
    text-align: center;
    font-size: var(--medium-x-text-size);
    text-transform: uppercase;
    margin: 0 1rem;
}

.left-underline {
    position: relative;
}

.left-underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--border-color);
    transition: all 0.3s ease-in-out;
}

.left-underline:hover:before {
    visibility: visible;
    width: 100%;
}

.current::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    visibility: visible;
    background-color: var(--border-color);
}

.current {
    position: relative;
}

.theme-mode {
    z-index: 100;
    position: absolute;
    top: var(--padding-medium);
    width: 30px;
    height: 30px;
    right: 5.2%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.theme-mode-image {
    width: 28px;
    height: 28px;
}

nav {
    user-select: none; 
}

.top-nav-mobile {
    z-index: 100;
    background-color: var(--menu-color);
    position: fixed;
    top: -200vh;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

#nav-mobile-menu {
    text-align: center;
    font-size: var(--medium-x-text-size);
    width: 100%;
    display: none;
    cursor: pointer;
}

.top-nav-mobile.display {
    top: 0;
}

.nav-mobile-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-mobile-list > ul {
    width: 100%;
    overflow-y: auto;
    height: fit-content;
    list-style-type: none;
}

.nav-mobile-list-item {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.nav-mobile-menu:hover {
    cursor: pointer;
}

.close-modal {
    position: absolute;
    font-size: var(--close-icon-size);
    top: 0;
    right: 0;
    padding: var(--padding-medium);
    color: var(--text-color);
    cursor: pointer;
    z-index: 999;
}

.home-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home-container-name {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--name-size);
    border-right: var(--name-cursor-width) solid var(--border-color);
    animation: typeWriter 2s steps(16) 1s 1 normal both,
        blinkTextCursor 2s steps(1) 2s infinite normal;
}

.interaction-hint {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    bottom: var(--padding-medium);
    right: var(--padding-medium);
    font-size: var(--interact-size);
    border-right: var(--interact-cursor-width) solid var(--border-color);
    animation: 
        blinkOnceTextCursor 1s steps(1) 4s 1 normal both,
        interactWriter 2s steps(19) 5s 1 normal both,
        blinkTextCursor 2s steps(1) 6s infinite normal;
}

#component {
    width: 100%;
}

.fade-in, .fade-in-first-delay, .fade-in-second-delay, .fade-in-third-delay, .fade-in-forth-delay, .fade-in-fifth-delay {
    animation: fadeIn 3s ease 0s 1 forwards;
}

.fade-in-first-delay {
    animation-delay: 0.5s;
}

.fade-in-second-delay {
    animation-delay: 1s;
}

.fade-in-third-delay {
    animation-delay: 1.5s;
}

.fade-in-forth-delay {
    animation-delay: 2s;
}

.fade-in-fifth-delay {
    animation-delay: 2.5s;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 50%;
    padding: var(--padding-medium);
    padding-top: var(--padding-large);
    background-color: var(--content-background-color);
}

.content h1, h2, h3 {
    text-transform: uppercase;
    margin: var(--padding-medium) 0;
    color: var(--main-text-color);
}

.content h1 {
    margin-bottom: var(--padding-large);
}

.content a {
    text-decoration: underline;
    font-weight: bold;
}

.content .fragment {
    margin-bottom: var(--padding-next-paragraph);
}

section.expanded {
    margin-bottom: var(--padding-next-section);
}

section > h1 {
    font-size: 2rem;
}

p {
  text-indent: var(--padding-medium);
  margin-bottom: var(--padding-next-paragraph);   
}

.links {
    padding: 0 var(--padding-medium);
}

.links > li:not(:last-child) {
    margin-bottom: var(--padding-small);
}

.image-container {
    width: 100%;
    text-align: center;
}

.profile-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    opacity: 0.85;
    margin-bottom: var(--padding-large);
}

.collapsible  {
    cursor: pointer;
}

.collapsible-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-large) 0;
}

.collapsible-container > h1 {
    font-size: 2rem;
    margin: 0;
    max-width: 85%;
}

.collapsible-container > span {
    font-size: 2rem;
    margin: 0 0 auto auto;
    font-weight: bold;
    user-select: none; 
}

/*=== gallery ===*/
.gallery {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: var(--padding-medium);
    margin-bottom: var(--padding-gallery);
}

.gallery > div {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: var(--gallery-width-four);
    height: var(--gallery-height-four);
    opacity: 0.6;
}

.gallery-menu {
    background-color: var(--menu-color);
    z-index: 2;
    display: grid;
    gap: 0;
    grid-template-columns: 2.5% 2.5% 90% 5%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-bottom: solid var(--border-size) var(--text-color);
}

.gallery-menu button {
    font-size: var(--gallery-icons-size);
    padding: var(--padding-little) var(--padding-small);
    cursor: pointer;
}

#images-counter {
    justify-self: center;
}

#close-gallery {
    justify-self: end;
}

.blank {
    margin: auto;
}

.focused-image-container, .focused-image-container-hidden {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 1;
    user-select: none;
}

.focused-image-container-background {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    background-color: var(--menu-color);
}

.focused-image-container-hidden {
    display: none;
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: start;
    align-items: flex-start;
    overflow: auto;
    padding: 2.5% 10% 2.5% 10%;
}

.image-container > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.arrow-left, .arrow-right {
    width: 10%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
}

.arrow-left > *, .arrow-right > * {
    font-size: var(--arrow-size);
    cursor: pointer;
    padding: var(--padding-large);
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

button.no-button {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

button.no-button[disabled] {
    opacity: 0.33;
}

/*=== animations ===*/
@keyframes typeWriter {
    from {
        height: var(--name-cursor-height);
        width: 0;
    }
    to {
        height: var(--name-cursor-height);
        width: var(--to-name-width);
    }
}

@keyframes interactWriter {
    from {
        height: var(--interact-cursor-height);
        width:  0;
    }
    to {
        height:  var(--interact-cursor-height);
        width:  var(--to-interact-width);
    }
}

@keyframes blinkTextCursor {
    0% {
        border-right-color: var(--border-color);
    }
    50% {
        border-right-color: rgba(0, 0, 0, 0);
    }
}

@keyframes blinkOnceTextCursor {
    0% {
        border-right-color: rgba(0, 0, 0, 0);
    }
    100% {
        border-right-color: var(--border-color);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ===media screens=== */

@media only screen and (max-width: 1200px) {
    .gallery-menu {
        grid-template-columns: 3.75% 3.75% 85% 7.5%;
    }

    .gallery  {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery > div {
        width: var(--gallery-width-three);
        height: var(--gallery-height-three);
    }
}

@media only screen and (max-width: 960px) { 
    html {
     font-size: 0.85rem;
    }

    .top-nav {
        width: 100%;
    }

    .nav-item {
        display: none;
    }

    #nav-mobile-menu {
        display: block;
    }

    .content {
        width: 75%;
    }
}

@media only screen and (max-width: 750px) {
    .gallery-menu {
        grid-template-columns: 6.75% 6.75% 75% 12.5%;
    }
}

@media only screen and (max-width: 650px) {
    .gallery  {
        grid-template-columns: 1fr 1fr;
    }

    .gallery > div {
        width: var(--gallery-width-two);
        height: var(--gallery-height-two);
    }
}


@media only screen and (max-width: 550px) {
    .gallery-menu {
        grid-template-columns: 8.75% 8.75% 65% 17.5%;
    }

    .content {
        width: 90%;
    }

    html {
        --name-size: 2.25rem;
        --to-name-width: 24rem;
        --name-cursor-height: 2.5rem;
        --name-cursor-width: 1rem;

        --interact-size: 1.25rem;
        --to-interact-width: 15rem;
        --interact-cursor-height: 1.5rem;
        --interact-cursor-width: 0.75rem;
    }
}